*{
    box-sizing: border-box;
}

li {
    padding : 10px;
    text-align: center;
    background:linear-gradient(white,gray);
    width:110px;
    font-size : 12px;
}

.bt {
    margin-top : 10px;
}

button{
    background-color: rgb(71, 80, 131);
    color : white;
    padding : 10px 10px;
    cursor : pointer;
    box-shadow : 2px 2px 5px rgba(0,0,0, 0.3);
    transition: background-color 0.3s,box-shadow 0.3s;
     }
    
     button:hover {
        background-color: rgb(24, 26, 153);
        box-shadow : 10px 10px 5px rgba(1, 1, 2, 0.5);
    }


header {
    
    background:linear-gradient(to right,skyblue 30%,gray);
    /*background-color: #6b5597b0;*/
    padding : 0px;
    text-align : center;
    font-size : 25px;
    color : black;
}

nav {
   
    float : left;
    width : 30%;
    height : 800px;
    background:linear-gradient(skyblue,gray);
    padding : 20px;
}

nav ul{
    
    list-style-type : none;
    padding:0;
}

article {
    background:rgb(233, 233, 79);
    float : left;
    padding : 20px;
    width : 70%;
    height : 400px;

}
section::after {
    content : "";
    display : table;
    clear : both;
}

footer {
   
    background: white;/*시작할 색상 정하기*/
   /* background-color: #cfff33;*/
    padding : 10px;
    text-align : center;
    color : black;
}
@media (max-width:600px){
    nav,article{
        width:100%;
        height: auto;
    }
}