*{
    box-sizing: border-box;
}

audio {
    display: block;
    margin: 0;
    max-width: 80%;
    border: 2px solid #8e6565;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}
audio::-webkit-media-controls-panel {
    background-color: #fff;
    border-radius: 8px;
}
audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border: 2px solid #f08080;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.img-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.image {
    width: 250px;
    height: 250px;
    margin:10px;
}


li {
    padding : 10px;
    text-align: center;
    background:linear-gradient(white,gray);
    width:110px;
    font-size : 12px;
}

.bt {
    margin-top : 10px;
}



button{
    border:none;
    border-radius: 5px;
    background-color: white;
    color : balck;
    padding : 10px 10px;
    font-size :10px;
    cursor : pointer;
    box-shadow : 2px 2px 5px rgba(0,0,0, 0.3);
    transition: background-color 0.3s,box-shadow 0.3s;
     }
    
     button:hover {
        background-color: rgb(41, 39, 39);
        color:white;
        box-shadow : 10px 10px 5px rgba(1, 1, 2, 0.5);
    }


header {
    
    background:linear-gradient(to right,skyblue 30%,gray);
    /*background-color: #6b5597b0;*/
    padding : 0px;
    text-align : center;
    font-size : 25px;
    color : black;
}

nav {
   
    float : left;
    width : 30%;
    height : 800px;
    background:rgb(237, 226, 226);
    padding : 5px;
}

nav ul{
    
    list-style-type : none;
    padding:0;
}

article {
    background:linear-gradient(to left,white,rgb(237, 226, 226));
    float : left;
    padding : 15px;
    width : 70%;
    height : 100%;

}
section::after {
    content : "";
    display : table;
    clear : both;
}

footer {
   
    background: white;/*시작할 색상 정하기*/
   /* background-color: #cfff33;*/
    padding : 10px;
    text-align : center;
    color : black;
}
@media (max-width:600px){
    nav,article{
        width:100%;
        height: auto;
    }
}